﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Maestra.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApp.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="jumbotron jumbotron-fluid mt-3">
        <div class="container">
            <h1 class="display-4">Bienvenido al Gestor de Sorteos</h1>
        </div>
    </div>
</asp:Content>
