﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Maestra.master.cs" Inherits="WebApp.Maestra" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <title>Aplicacon Sorteo</title>
</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="<%= Page.ResolveUrl("~/Default.aspx") %>">Sorteos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="<%= Page.ResolveUrl("~/Default.aspx") %>">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion Sorteos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="<%= Page.ResolveUrl("~/WebFormPersona.aspx") %>">Agregar Persona</a>
                            <a class="dropdown-item" href="<%= Page.ResolveUrl("~/WebFormListarPersonas.aspx") %>">Listar Personas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="<%= Page.ResolveUrl("~/WebFormGenerarSorteo.aspx") %>">Generar Sorteo</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <script src="<%= Page.ResolveUrl("~/Scripts/jquery-3.5.1.min.js") %>"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/bootstrap.min.js") %>"></script>
</body>
</html>
